blockquote {
  background: #f9f9f9;
    border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 1.5em;
}
slides > slide.title-slide {
  background-image: url("img/tidyverse_title.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 900px 453px;
}